* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
}

footer {
  margin-top: 20px;
}

.main {
  width: 20%;
  height: 70%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 100px;
  transition: 300ms ease-in-out;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: large;
}

nav.sticky {
  background: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 0px;
}

nav > div {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.not-current-span {
  transition: all 150ms ease;
  color: blue;
}

.not-current-span:hover,
#current-span {
  transform: translateY(-3px);
}

.not-current-link {
  color: blue;
}

.not-current-link:hover {
  color: darkblue;
  text-decoration: underline;
  text-underline-offset: 6px;
}

#current-link {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: darkblue;
}

.not-current-link {
  text-decoration: none;
}

/* 
#current-link.sticky {
  color: darkblue;
}

.not-current-link.sticky,
.not-current-span.sticky {
  color: blue;
}

.not-current-link.sticky:hover {
  color: darkblue;
} */

footer {
  background-color: rgb(0, 0, 50);
  color: white;
  width: 100%;
  padding-top: 10px;
}

.footer-sections {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.footer-section-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: rgba(0, 255, 255, 0.5);
  transition: all 300ms ease;
}

.footer-section-list > p {
  padding-bottom: 6px;
  cursor: pointer;
}

.footer-section-list > p:hover {
  color: rgba(0, 255, 255, 0.75);
}

.footer-section-subtitle {
  margin-bottom: 6px;
  color: white;
}

.footer-rights {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  align-items: flex-end;
  padding-bottom: 4px;
  color: aqua;
}

.cform {
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

#inp-field {
  border: 3px solid black;
  padding: 4px;
}

#inp-field-txta {
  height: 40%;
  border: 3px solid black;
  padding: 4px;
  resize: none;
}

#inp-submit {
  width: 15%;
  border: 1px solid black;
  padding: 4px;
  align-self: center;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.service-pricing {
  width: 90%;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 100, 150, 0.25);
  backdrop-filter: blur(20px);
}

.service-pricing-heading {
  padding-left: 40px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-radius: 20px;
  height: 480px;
  width: 256px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: all 200ms ease-in-out;
  background-color: rgb(150, 255, 255);
  margin-top: 10px;
}

.pricing-card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: translateY(-10px);
  cursor: pointer;
}

.pricing-inner-card {
  transform: translateY(-20px);
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 20px;
  width: 90%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card-content {
  height: 80%;
  width: 75%;
  padding: 8px;
}

.service-section {
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(75, 75, 100, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 50px;
}

.service-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-tiers {
  flex-grow: 1;
  padding-left: 140px;
  display: flex;
  gap: 40px;
  color: aqua;
}

.tier {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: all 250ms ease;
}

.tier:hover {
  background-color: blue;
  cursor: pointer;
}

.service-title {
  color: white;
  padding-left: 30px;
}

.service-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-description {
  width: 66%;
  padding: 8px;
  color: rgb(190, 255, 255);
}

.service-slideshow {
  width: 33%;
  padding: 8px;
  position: relative;
  height: 300px; /* Fixed height for the slideshow container */
  overflow: hidden; /* Hide overflow content */
}

.slideshow-container {
  max-width: 1000px;
  max-height: 700px;
  height: 100%; /* Ensure the container takes up the full height */
  position: relative;
  margin: auto;
  display: flex;
  align-items: center; /* Center the images vertically */
  justify-content: center; /* Center the images horizontally */
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  object-fit: cover; /* Ensure images cover the container without distortion */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev,
.next {
  color: blue;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0.8);
}

.numbertext {
  color: blue;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-container {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: -20px;
}

.active,
.dot:hover {
  /* background-color: #717171; */
  background-color: blue;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

select,
input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
}

.new-order-card {
  width: 60%;
  border-radius: 50px;
  background-color: rgba(75, 75, 100, 0.5);
  padding: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 12px -2px rgb(0 0 0 / 0.2), 0 4px 2px -4px rgb(0 0 0 / 0.2);
}

.new-order-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
}

.order-price {
  padding-top: 10px;
  color: darkblue;
}

.new-order-card-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.track-order-card {
  width: 60%;
  border-radius: 50px;
  background-color: rgba(75, 75, 100, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 12px -2px rgb(0 0 0 / 0.2), 0 4px 2px -4px rgb(0 0 0 / 0.2);
  padding: 20px;
}

.track-order-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.track-status-btn,
.new-order-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: lightblue;
  border-radius: 25px;
}

.track-status-btn:hover,
.new-order-btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.track-status-btn:active,
.new-order-btn:active {
  background-color: darkblue;
}

#order-ref {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.3s;
}

@media screen and (max-width: 640px) {
  .pricing-card {
    margin-bottom: 20px;
  }
}
